/* CSS Document */
/* Setting fade transition and default settings */
html {
	margin:0;
	padding:0;
	scroll-behavior: smooth;
}
body {
	color: #ffffff;
	background-color: #022C44;
	transition: background-color 1.25s ease;
	overflow-x: hidden;
	padding:0px 0 0 0;
	margin:0;
}
h1, h2 {
	font-size: 3em;
	letter-spacing: -0.01em;
	line-height: 1.25;
}
h3 {
	font-size: 1.5em;
	letter-spacing: -0.01em;
	line-height: 1.25;
}
@media only screen and (max-width: 540px) {
	h1, h2 {
		font-size: 2.5em;
	}
	h3 {
		font-size: 1.4em;
	}
}
a {
	color: #00AAA8;
	transition: all ease 0.3s;
}
a:hover {
	color: #FFC937;
}
.bg-pattern {
	display:flex;
	position:fixed;
	width:100vw;
	height:100vh;
	top:0px;
	background-image: url("../img/bg-pattern.png");
	background-size:auto 100vh;
	background-position: left top;
	background-repeat:no-repeat;
	z-index: -1;
}
/* panel styles */
.panel {
	/* min height incase content is higher than window height */
	display:flex;
	flex-direction: column;
	padding:120px 5% 40px 5%;
	width:90%;
	min-height:calc(100vh - 160px);
	/* outline: 10px solid hotpink; */
	/* turn above on to see the edge of panels */
}
.content-block {
	display:flex;
	flex-direction: column;
	padding:0;
	max-width: 1024px;
	width:100%;
	margin:0 auto;
	position:relative;
}
@media only screen and (max-width: 540px) {
	.panel {
		padding:60px 10px 40px 10px;
		width:calc(100vw - 20px);
	}
}
/* colours */
.color-about {
	background-color: #004270;
}
.color-services {
	background-color: #001F30;
}
.color-clients {
	background-color: #00AAA8;
}
.color-team {
	background-color: #F89C27;
}
.color-contact {
	background-color: #222222;
}

/* content styles */
.header {
	display:flex;
	justify-content: center;
	align-items: center;
	padding:0px 40px;
	position:fixed;
	top:0;
	width:calc(100% - 80px);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0px,  rgba(0,0,0,1) 50%, rgba(4,127,146, 1) 50%, rgba(4,127,146,1) 100%);
	z-index: 100;
}
@media only screen and (max-width: 540px) {
	.header {
		padding:0 20px;
		width:calc(100% - 40px);
		background: linear-gradient(45deg, rgba(0,0,0,1) 0px,  rgba(0,0,0,1) 1800px, rgba(4,127,146, 1) 1800px, rgba(4,127,146,1) 75%);
	}
}
.top-logo {
	display:block;
	width:100%;
	padding:20px 0;
	max-width: 1024px;
	background: linear-gradient(45deg, rgba(0,0,0,1) 0px,  rgba(0,0,0,1) 200px, rgba(4,127,146, 1) 200px, rgba(4,127,146,1) 90%);
	z-index:1001;
}
.top-logo img {
	width:150px;
	height:auto;
}
@media only screen and (max-width: 540px) {
	.top-logo {
		display:block;
		width:100%;
		padding:10px 0;
		max-width: 1024px;
		background: linear-gradient(45deg, rgba(0,0,0,1) 0px,  rgba(0,0,0,1) 200px, rgba(0,0,0,1) 200px, rgba(0,0,0,1) 90%);
		z-index:1001;
	}
	.top-logo img {
		width:120px;
		height:auto;
	}
}
.theme-box {
	background-image: url("../img/theme-photo.jpg");
	background-position: top right;
	background-size: cover;
	background-repeat: no-repeat;
	height:calc(100vh - 160px);
}
.theme-box h1 {
	font-size: 5em;
	margin:50vh 0 0 0;
}
.theme-box h2 {
	font-size: 2.5em;
	margin:10px 0 0 0;
}
@media only screen and (max-width: 920px) {
	.theme-box h1 {
		font-size: 4em;
		margin:50vh 0 0 0;
	}
	.theme-box h2 {
		font-size: 2em;
		margin:10px 0 0 0;
	}
}
@media only screen and (max-width: 540px) {
	.theme-box h1 {
		font-size: 2.5em;
		margin:50vh 0 0 0;
	}
	.theme-box h2 {
		font-size: 1.75em;
		margin:10px 0 0 0;
	}
	.theme-box {
		height:calc(100vh - 100px);
	}
}
.about-item {
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items: center;
	padding:20px 20px 40px 20px;
	margin:1.5%;
	width:calc(30% - 40px);
	text-align: center;
}
.about-item h2 {
	font-size: 3.5em;
	margin:0;
	color:#FFC937;
}
.about-item h3 {
	margin:0;
	color:#FFC937;
}
@media only screen and (max-width: 540px) {
	.about-item {
		margin:1.5% 0;
		width:calc(100% - 40px);
	}
}
.service-box {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}
.service-item-1, .service-item-2, .service-item-3, .service-item-4, .service-item-5 {
	display:flex;
	align-items: flex-end;
	padding:20px;
	margin:2px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	clip-path: inset(0% 0% 0% 0%);
	transition:all ease 0.3s;
}
.service-item-1:hover, .service-item-2:hover, .service-item-3:hover, .service-item-4:hover, .service-item-5:hover {
	transform: scale(1.1);
	clip-path: inset(4.5% 4.5% 4.5% 4.5%);
}
.service-item-1 h3, .service-item-2 h3, .service-item-3 h3, .service-item-4 h3, .service-item-5 h3 {
	margin:0 0 0 5%;
	font-weight: 900;
	text-shadow: 2px 2px 5px #000000;
	font-size:2em;
}
.service-item-1 {
	height:300px;
	width:calc(60% - 44px);
	background-image: url("../img/service-biz.jpg");
}
.service-item-2 {
	height:300px;
	width:calc(40% - 44px);
	background-image: url("../img/service-copyright.jpg");
}
.service-item-3 {
	height:300px;
	width:calc(100% - 44px);
	background-image: url("../img/service-financial-2.jpg");
}
.service-item-4 {
	height:300px;
	width:calc(50% - 44px);
	background-image: url("../img/service-property.jpg");
}
.service-item-5 {
	height:300px;
	width:calc(50% - 44px);
	background-image: url("../img/service-machinery.jpg");
}
@media only screen and (max-width: 920px) {
	.service-item-1 {
		height:200px;
	}
	.service-item-2 {
		height:200px;
	}
	.service-item-3 {
		height:200px;
	}
	.service-item-4 {
		height:200px;
	}
	.service-item-5 {
		height:200px;
	}
}
@media only screen and (max-width: 540px) {
	.service-item-1 {
		width:calc(100% - 44px);
	}
	.service-item-2 {
		width:calc(100% - 44px);
	}
	.service-item-3 {
		width:calc(100% - 44px);
	}
	.service-item-4 {
		width:calc(100% - 44px);
	}
	.service-item-5 {
		width:calc(100% - 44px);
	}
}
/*.service-item {
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items: center;
	padding:20px;
	margin:1.5%;
	width:calc(30% - 40px);
	text-align: center;
}
@media only screen and (max-width: 540px) {
	.service-item {
		margin:1.5% 0;
		width:calc(100% - 40px);
	}
}
.service-item img {
	height:100px;
	width:auto;
}
.service-item p {
	text-align: left;
	margin:10px 0 0 0;
}*/
.client-box {
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
	align-items: stretch;
}
.client-item, .client-item-l {
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items:center;
	padding:20px;
	margin:1.5%;
	text-align: center;
}
.client-item {
	width:calc(22% - 40px);
	color:#9CFFEB;
}
.client-item-l {
	width:calc(30% - 40px);
}
@media only screen and (max-width: 540px) {
	.client-item {
		margin:1.5% 0;
		width:calc(50% - 40px);
	}
	.client-item-l {
		margin:1.5% 0;
		width:calc(100% - 40px);
	}
}
.client-item h4, .client-item-l h4 {
	margin-top:0;
}
.client-item span {
	font-size:4em;
}
.client-item-l span {
	font-size:6em;
}
@media only screen and (max-width: 540px) {
	.client-item-l h4 {
		font-size:1.5em;
	}
	.client-item span {
		font-size:5em;
	}
	.client-item-l span {
		font-size:8em;
	}
}
.client-item p, .client-item-l p {
	text-align: center;
	margin:10px 0 0 0;
}
.team-item {
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items: flex-start;
	padding:20px;
	margin:1.5%;
	width:calc(30% - 40px);
}
@media only screen and (max-width: 540px) {
	.team-item {
		margin:1.5% 0;
		width:calc(100% - 40px);
	}
}
.team-name {
	font-size: 1.5em;
	letter-spacing: -0.025em;
	line-height: 1.1;
}
.contact-item {
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	padding:20px;
	margin:1.5%;
	width:calc(30% - 40px);
}
@media only screen and (max-width: 540px) {
	.contact-item {
		margin:1.5% 0;
		width:calc(100% - 40px);
	}
}
.contact-item span {
	font-size:3em;
}
.contact-item p {	
	text-align: left;
	font-size:90%;
	margin:10px 0 0 0;
}
@media only screen and (max-width: 540px) {
	.contact-item h3 {
		margin:0;
	}
}
.social-box {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	margin:20px 0 0 0;
}
a.social-item {
	margin:10px;
	font-size:2em;
	text-decoration: none;
}
ul.desc-point {
	padding:30px 0 0 20px;
	font-size: 90%;
}
ul.desc-point li {
	list-style-image: url("../img/bullet-white.png");
	margin:0 0 10px 0;
}
p.footer {
	width:90%;
	font-size:80%;
	color:#999999;
	margin:60px 0 0 0;
	text-align: center;
}